$color_1: black;
$color_2: #FFFFFF;
$color_3: white;
$font-family_1: 'Trebuchet MS', sans-serif;
$font-family_2: NanumPenScript;
$background-color_1: white;
$background-color_2: green;
$background-color_3: #F6821F;
$background-color_4: rgba(78, 58, 58, 0.486);
$background-color_5: #ac2f2f;